.grey {
    background: grey;
}

.yellow {
    background: yellow;
}

.pink {
    background: pink;
}

.blue {
    background: blue;
}

.list-country {
    width: 30%;
    margin: 10px 31%;
    background: #e5ff72;
    border: 2px solid rgb(200, 226, 0);
    border-radius: 10px;
    padding: 1.2% 2%;
    color: #474747;
    font-size: 1.1em;

}