<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <div id="app">
        <!-- <button v-on:click="show = !show">Hide/show</button>
       <p v-if="show">Some text</p>
       <p v-else>Other</p> -->
        <!-- <h1>{{title | lowerCase | First_lettersUpperCase}}</h1>
        <ul>
            <li v-for="name in name_of_country" v-if="name.country != 'Austria'">Country: {{ name.country }}; Capital:
                {{ name.capital}}</li>
        </ul> -->
        <!-- <p>{{number | currency}}</p>
        {{ date | dateFilter }} -->
        <!-- <app-name_of_country></app-name_of_country> -->
        <!-- <div class="group-count">
            <simple-counter></simple-counter>
            <simple-counter></simple-counter>
            <simple-counter></simple-counter>
        </div> -->
    </div>
    <script src="js/main.js"></script>


</body>

</html>